---
layout: default
---

<div class="mt-5">
    <h1 id="location">{{ page.name }}</h1>
</div>
<div class="container row mt-2">
    <p><i class="bi bi-geo-alt"></i> </p>
    <p id=api_name>{{ page.api_name }}</p>
</div>
<hr>

<div class="container mt-5">
    <ol id="machines">

    </ol>
</div>

<script type="text/javascript" charset="utf-8">
    document.addEventListener('DOMContentLoaded', () => {
        var location = document.getElementById("api_name");
        var locationName = location.textContent;
        // console.log(name);

        let parser = new DOMParser();
		let request = new XMLHttpRequest();
		request.open("GET", "https://www.soledigital.com.au/accesspack/UWS_data.asp");
		request.send();
		request.onload = () => {
			// console.log(request.response);
			xmlDoc = parser.parseFromString(request.response, "text/xml")
			if (request.status != 200) {
				console.log(`error ${request.status} ${request.statusText}`)
			}
            // Reading the root of XML
            let institute = xmlDoc.getElementsByTagName("site")[0];
            console.log(institute);

            // All the locations (e.g. Kingswood, PEIH)
            let locations = institute.getElementsByTagName("site");
            console.log(locations)

            // iterating over the locations
            for(let i = 0; i < locations.length; i++){
                let siteName = locations[i].getElementsByTagName("name")[0].firstChild.nodeValue;

                // Checking if the site name is the same as the page (i.e. Only machines from Kingswood campus for Kingswood page)
                if (siteName == locationName) {
                    let equipment = locations[i].getElementsByTagName("equipment")[0];
                    let equipmentId = equipment.getElementsByTagName("equipid");
                    let equipmentType = equipment.getElementsByTagName("equiptype");

                    console.log(`EquipmentID: ${equipmentId}`);
                    console.log(equipmentId);

                    // iterating over the equipment
                    for (let j = 0; j < equipmentId.length; j++){
                        let eqId = equipmentId[j].firstChild.nodeValue;
                        let eqType = equipmentType[j].firstChild.nodeValue;
                        console.log(eqId);
                        console.log(eqType);
                    }
                    console.log(equipment)
                    console.log(siteName);
                }
            }
		}
    });
</script>
